@model RuleViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    var count = 0;
}

<h1 class="py-3 text-white" style="background-color: #3a393f ">KURALLAR</h1>
<div class="mx-5">
    <a href="/AdminRule/AddRule" class="btn btn-outline-success my-4 float-end">Yeni Kural Ekle</a>

    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>KURAL</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rule in Model.Rules)
            {
                count++;
                <tr>
                    <th>@count</th>
                    <td>@rule.RuleDesc</td>
                    <td><a href="/AdminRule/UpdateRule/@rule.RuleID" class="btn btn-outline-warning btn-sm">Düzenle</a></td>
                    <td><a href="/AdminRule/DeleteRule/@rule.RuleID" class="btn btn-outline-danger btn-sm">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
