@model RuleViewModel 
@{
    ViewData["Title"] = "UpdateRule";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1 class="py-3 text-white" style="background-color: #3a393f ">KURAL GÜNCELLE</h1>
<div class="mx-5 mt-4">
    <form asp-action="UpdateRule" asp-controller="AdminRule" method="post">
        <div class="mb-3 form-group">
            <label asp-for="Rule.RuleDesc" class="form-label">Kural</label>
            <input type="text" class="form-control" asp-for="Rule.RuleDesc">
            <span class="form-text text-danger" asp-validation-for="Rule.RuleDesc"></span>
        </div>
        <input type="hidden" asp-for="Rule.RuleID" />
        <input type="hidden" asp-for="Rule.RuleStatus" />
        <div class="text-center"><button type="submit" class="btn btn-outline-warning">Güncelle</button></div>
    </form>
</div>
