<footer class="py-5" style="background-color: #001f99">
    <div class="container">
        <div class="text-center mb-4">
            <ul class="list-unstyled list-inline">               
                <li class="list-inline-item display-5"><a target="_blank" href="https://www.instagram.com/msemihaktepe/" style="color: #dae6e6"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item display-5"><a target="_blank" href="https://github.com/msemihaktepe" style="color: #dae6e6"><i class="fab fa-github"></i></a></li>
                <li class="list-inline-item display-5"><a target="_blank" href="https://www.linkedin.com/in/msmhaktepe/" style="color: #dae6e6"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        <div class="text-center mb-2 text-white">
            <h5 style="opacity: 0.6;">Kırıkkale Üniversitesi - Bilgisayar Mühendisliği - Bitirme Projesi 2</h5>
        </div>
    </div>
</footer>