@{
    Layout = null;
}

<link href="~/css/Sidebar.css" rel="stylesheet" />

<nav>
    <ul>
        <li><i class=""></i></li>
        <li><p></p></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/AdminBook/Index"><i class="fa fa-book"></i> KİTAPLAR</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/AdminBorrowedBooks/Index"><i class="fas fa-book-open"></i> ALINAN KİTAPLAR</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/AdminUser/Index"><i class="fa fa-users"></i> KULLANICILAR</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/AdminMessage/Index"><i class="fas fa-comment-dots"></i> MESAJLAR</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/AdminAuthor/Index"><i class="fas fa-pen"></i> YAZARLAR</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/AdminType/Index"><i class="fas fa-font"></i> KİTAP TÜRLER</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/AdminPosition/Index"><i class="fas fa-user-tag"></i> POZİSYONLAR</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/AdminRule/Index"><i class="fas fa-ruler"></i> KURALLAR</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/AdminStatistic/Index"><i class="fas fa-info-circle"></i> İSTATİSTİKLER</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Loginout/Logout"><i class="fas fa-undo-alt"></i> ÇIKIŞ YAP</a></li>
    </ul>
</nav>